#sidebar-header {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    position: relative;

    .header__title {
        flex: 1;
        text-align: center;
        color: var(--primary-color-light);
    }
}

// dark themed variant
#sidebar-header.theme-dark {
    .header__title {
        color: var(--primary-color-dark);
    }
}

#sidebar-menu {
    .MuiPaper-root {
        min-width: 23%;

        .about-project-link {
            display: block;
            text-decoration: none;
            color: grey;
            text-align: center;
        }

        @media (max-width: 576px) {
            min-width: 50%;
        }
    }
}

@media (max-width: 576px) {
    #sidebar-menu {
        .MuiPaper-root {
            min-width: 70%;
        }
    }
}