.MuiDialog-root {
    .MuiBackdrop-root {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .MuiPaper-root {
        max-width: 420px;
        border-radius: 12px;
        padding: 1em;

        .header {
            display: flex;
            align-items: center;

            .header__title {
                flex-grow: 1;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

.MuiDialog-root.theme-dark {
    .MuiPaper-root {
        background-color: #212121;

        .header {
            .header__title {
                color: white;
            }
        }
    }
}